body{
    font-family: 'Titillium Web', sans-serif;
    overflow: auto;
}
header nav{
    display: block;
    border: 2px solid #eeeeee;
    background-color: transparent;
    border-radius: 6px;
    padding: 2px;
    height: 74px;
    width: 100%;
}
aside{
    float: left;
    background-color: #eeeeee;
    border-radius: 6px;
    padding: 2px;
    width: 210px;
}
aside li{
    list-style-type: none;
    border: 2px solid #eeeeee;
    font-size: 16px;
}
aside li a:link{
    color: #2980b9;
}
aside li a:hover{
    color: #2e2b2e;
}
article{
    display: block;
    background-color: #eeeeee;
    border-radius: 6px;
}
.btnNav{
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    text-shadow: 1px 1px 3px #2e2b2e;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
#title{
    color: #2e2b2e;
    font-size: 26px;
    font-family: 'Rock Salt', cursive;
    padding: 0px 20px 0px 10px;
    margin-top: 10px;
}
#regionList{
    font-weight: bold;
}